body:not(.Home) {
	.Footer--container {
		.Download-app {
			display: flex;
			justify-content: flex-end;
			li:last-child {
				margin-right: 0;
			}
		}
	}
}

.Home {
	.Footer--container {
		width: 100%;
	    max-width: 935px;
	    margin: 30px auto 30px;
	}
}

footer {
	display: flex;
	justify-content: space-between;
	ul {
	    padding-left: 0;
	    display: flex;
	    list-style: none;   
	    margin-bottom: 0; 		
		li {
		    margin-right: 16px;    
		    &.copyright {
			    color: #999;
			    font-size: 12px;
			    font-weight: bold;
			    text-transform: uppercase;
		    }			
			a {
				color: #003567;
			    font-size: 12px;
			    font-weight: bold;				
				text-transform: uppercase;
				text-decoration: none;
				&:hover {
					color: #003567;
					text-decoration: none;
				}
			}
		}
	}
}

.Download-app {
	p {
		color: #262626;
		text-align: center;
	}
	ul {
	    list-style: none;
	    padding-left: 0;

	    display: flex;	
	    justify-content: center;
	}
	li {
	    margin: 0 10px	
	}
	img {
		max-height: 40px;
	}
}