.PhoneMockup__slides {
    position: absolute;	
    margin: 99px 0 0 151px;
	img {
		left: 0;
		top: 0;
		width: 240px;		
		height: 427px;
		position: absolute;
	}
}

.PhoneMockup__slide1 {
	animation: fade 8s infinite;
}

.PhoneMockup__slide2 {
	animation: fade2 8s infinite;
}

.PhoneMockup__slide3 {
	animation: fade3 8s infinite;
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	33.333% {
		opacity: 0;
	}
	66.666% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade2 {
	0% {
		opacity: 0;
	}
	33.333% {
		opacity: 1;
	}
	66.666% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade3 {
	0% {
		opacity: 0;
	}
	33.333% {
		opacity: 0;
	}
	66.666% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}