@media (max-width: 495px) {
	.Search--container {
		display: none;
	}

	.Card {
	    margin-top: 0;
	    margin-bottom: 60px;
	}

	.Features {
		.Feature {
			flex-direction: column;
		}

		.Feature__title {
			font-size: 16px;
			margin-top: 10px;
		}
	}

	.Explore__content--outlet-profile {
		.Flex {
			flex-direction: row;
		}

		h3 {
			max-width: 220px;
		}
	}

}

@media (max-width: 785px) {

	.PhoneMockup--container {
		display: none;
	}

	.Footer--container {
		flex-direction: column-reverse;
	}

	.Download-app {
		margin-bottom: 30px;
	}

	.hide-on-mobile {
		display: none;
	}

	.Flex, .Row {
		flex-direction: column;
	}
	
	.Column-6 {
		flex: 1;
	}

	footer {
	    flex-direction: column;
		margin: 0 20px;	  
	    ul {
    	    margin-bottom: 0px;
			flex-wrap: wrap;  
			justify-content: center;
	    }
	}
}