.marvel-device .screen {
	color: #333 !important;
	text-align: left !important;
	overflow-y: scroll;
}

.alert {
	padding: 10px;
	ul {
		list-style: none;
		padding-left: 0;
	}
}

.fr-box {
	z-index: 0;
}

.react-datepicker__input-container {
	display: block !important;
}