$gray: #999;
$blue: #3897f0;

.fa-2x {
	font-size: 1.8em;
}

.help-block {
	color: $gray;
	a {
		color: $gray;
		font-weight: bold;
		&:hover {
			color: $gray;
			text-decoration: none;
		}
	}
}

.form-control {
	color: #262628;
	font-size: 14px;
	box-shadow: none;
	border-radius: 3px;
	padding: 9px 8px 7px;
	border: 1px solid #dbdbdb;
	&:focus {
	    outline: none;		
		box-shadow: none;
		border: 1px solid #b2b2b2;
	}
}

.Registration__form {
	.form-group {
		margin-bottom: 6px;
	}
}

.Authentication {
	.btn {
		font-weight: bold;
		background: $blue !important;
		border-color: $blue !important;
	}
}

.btn {
	border-radius: 3px;
	i {
	    font-size: 20px;
		margin-right: 5px;
	}
}

.btn-primary {
	font-weight: bold;
	background: #3897f0 !important;
    border-color: #3897f0 !important;	
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
}