// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Dropzone
@import "node_modules/dropzone/src/dropzone";

@font-face {
    font-family: 'ProximaRegular';
    src: url('../../fonts/proximanova-regular-webfont.woff2') format('woff2'),
        url('../../fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'ProximaRegular', 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

.Heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-form {
	width: 30%;
}

.margin-left-20 {
	margin-left: 20px;
}

footer {
	height: 300px;
}

// Overwrite

.dropzone {
	display: flex;
	margin-top: 20px;
	align-items: center;
	justify-content: center;
    flex-wrap: wrap;
	border: 2px dashed rgba(0, 0, 0, 0.3);
}

.table {
	background: white;
}

.btn-has-icon {
	i {
		margin-right: 5px;
	}
}

.Dashboard {

	.Statistics {
		display: flex;
		flex-wrap: wrap;
	}

	.Statistic {
		width: 300px;
		height: 150px;
		background: #ddd;

		margin: 10px;

		display: flex;
		align-items: center;
		justify-content: center;

		h4 {
			font-size: 4em;
			text-align: center;
			small {
				display: block;
			    font-size: 16px;
			    margin-top: 10px;
			}
		}
	}

	.has-delete-icon {
	    display: flex;
	    align-items: center;
	    justify-content: center;
		form {
			position: absolute;
		}
	}

	.has-camera-icon {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		button {
			width: 100%;
			height: 100%;
			display: none;
			position: absolute;
		}
		&:hover {
			&::before {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
			    border-radius: 50%;
				background: rgba(0,0,0,0.6);
			}
			button {
				color: white;
				display: block;
			}
		}
	}

	.Mobile {
		padding: 10px;
		overflow-y: scroll;
	}

	.Mobile__header {
		display: flex;
	}

	.Mobile__Outlet__image {
		flex: 0.4;
		display: flex;
		margin-right: 10px;
	    align-items: center;
	    justify-content: center;
	    border: 1px solid #ddd;
		img {
			padding: 5px;
		}
	}

	.Mobile__Outlet__info {
		flex: 1;
		h4 {
			margin: 0;
		}
	}

	.Mobile__content {
		margin-top: 10px;
		img {
			margin-bottom: 10px;
		}
		h2 {
			font-size: 16px;
		    line-height: 24px;
		}
		h3, h4 {
			font-size: 14px;
		}
		ul li {
			font-size: 12px;
		}
		p {
			font-size: 12px;
		}
	}

	.label-block {
		display: block;
	}

	form {
		h3 {
			margin: 30px 0px;
		}
	}
}

@import 'components/Grid';
@import 'components/Overwrite';
