// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Dropzone
@import "node_modules/dropzone/src/dropzone";

body {
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

.Heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-form {
	width: 30%;
}

footer {
	height: 300px;
}

// Overwrite

.dropzone {
	display: flex;
	margin-top: 20px;
	align-items: center;
	justify-content: center;
    flex-wrap: wrap;
	border: 2px dashed rgba(0, 0, 0, 0.3);
}

.table {
	background: white;
}

.btn-has-icon {
	i {
		margin-right: 5px;
	}
}

.Dashboard {

	.Statistics {
		display: flex;
		flex-wrap: wrap;
	}

	.Statistic {
		width: 300px;
		height: 150px;
		background: #ddd;

		margin: 10px;

		display: flex;
		align-items: center;
		justify-content: center;

		h4 {
			font-size: 4em;
			text-align: center;
			small {
				display: block;
			    font-size: 16px;
			    margin-top: 10px;
			}
		}
	}

	.has-delete-icon {
	    display: flex;
	    align-items: center;
	    justify-content: center;
		form {
			position: absolute;
		}
	}

	.Mobile {
		padding: 10px;
		overflow-y: scroll;
	}

	.Mobile__header {
		display: flex;
	}

	.Mobile__Outlet__image {
		margin-right: 10px;
	}

	.Mobile__Outlet__info {
		h4 {
			margin: 0;
		}
	}

	.Mobile__content {
		margin-top: 10px;
		img {
			margin-bottom: 10px;
		}
		h2 {
			font-size: 16px;
		    line-height: 24px;
		}
		h3, h4 {
			font-size: 14px;
		}
		ul li {
			font-size: 12px;
		}
		p {
			font-size: 12px;
		}
	}

	.label-block {
		display: block;
	}

	form {
		h3 {
			margin: 30px 0px;
		}
	}
}

@import 'components/Grid';
@import 'components/Overwrite';
