// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'components/Fonts';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

	background: #fafafa;
	font-family: 'ProximaRegular', 'Montserrat', sans-serif;
}

.Main__content {
    flex: 1;
}

.container {
	max-width: 935px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

.text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.max-350 {
	max-width: 350px;
}

.max-600 {
	max-width: 600px;
}

.centered {
    margin: 0 auto;
}

.paddingBottom50 {
    padding-bottom: 50%;
}

.full-height {
	height: 100%;
}

.white-bg {
	background: white;
}

.Box {
    padding: 40px;
	background: #fff;
    border-radius: 1px;
    border: 1px solid #efefef;
}

.Company__content--container {
    margin: 40px 0px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.Company__nav {
	min-width: 200px;
	padding: 20px;
    border-right: 1px solid #ddd;

    h4 {
		color: #999;
		margin: 0;
		font-size: 16px;
		padding: 16px;
		text-transform: uppercase;
    }

    ul {
    	list-style: none;
    }

    li {
	    line-height: 36px;
    }

    a {
    	color: #262626;
    	display: block;
    }
}

.Company__content {
	color: #262626;
	padding: 20px 40px;
}

@import 'components/Grid';
@import 'components/Header';
@import 'components/Icons';
@import 'components/Home';
@import 'components/HomeMobile';
@import 'components/Authentication';
@import 'components/Card';
@import 'components/Search';
@import 'components/Posts';
@import 'components/Events';
@import 'components/Explore';
// @import 'components/About';
@import 'components/About/Company';
@import 'components/UserProfile';
@import 'components/Footer';
@import 'components/BlurredImageEffect';
@import 'components/PublicOverwrite';
@import 'components/MediaQueries';
